In [3]:
# Count Vectorization
message = ["Hey, lets go the game today!",
           "Call your sister.",
           "Want to go walk your dogs?"]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [8]:
vect.fit(message)

CountVectorizer()

In [9]:
vect.get_feature_names()

['call',
 'dogs',
 'game',
 'go',
 'hey',
 'lets',
 'sister',
 'the',
 'to',
 'today',
 'walk',
 'want',
 'your']

In [13]:
X = vect.fit_transform(message)

In [16]:
import pandas as pd
df = pd.DataFrame(X.toarray(), columns=vect.get_feature_names())
df

   call  dogs  game  go  hey  lets  sister  the  to  today  walk  want  your
0     0     0     1   1    1     1       0    1   0      1     0     0     0
1     1     0     0   0    0     0       1    0   0      0     0     0     1
2     0     1     0   1    0     0       0    0   1      0     1     1     1

In [19]:
"""
		NUMBER OF TIME THE TERM OCCURED INT THE DOCUMENT!!!		

call	dogs	game	go	hey	lets	sister	the	to	today	walk	want	your
0	0	1	1	1	1	0	1	0	1	0	0	0
1	0	0	0	0	0	1	0	0	0	0	0	1
0	1	0	1	0	0	0	0	1	0	1	1	1

show the call is used only in the sencond sentence, 
similarly the rest continues"""

In [24]:
# 		NUMBER OF TIME THE TERM OCCURED INT THE DOCUMENT!!!

from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer()
dtm = vect.fit_transform(message)

In [25]:
import pandas as pd
df = pd.DataFrame(dtm.toarray(), columns=vect.get_feature_names())
df

,call,dogs,game,go,hey,lets,sister,the,to,today,walk,want,your
0,0.000000,0.000000,0.423394,0.322002,0.423394,0.423394,0.000000,0.423394,0.000000,0.423394,0.000000,0.000000,0.000000
1,0.622766,0.000000,0.000000,0.000000,0.000000,0.000000,0.622766,0.000000,0.000000,0.000000,0.000000,0.000000,0.473630
2,0.000000,0.440362,0.000000,0.334907,0.000000,0.000000,0.000000,0.000000,0.440362,0.000000,0.440362,0.440362,0.334907

In [26]:
import numpy as np
import pandas as pd

In [27]:
# reading the text file
data = pd.read_csv('SMSSpamCollection.tsv', sep='\t',
                   header=None, names=['label', 'body_text'])

data.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [36]:
# getting length oh each column in the dataframe
import string
length = data['body_text'].str.len()

# inserting into the dataframe
data.insert(2, "length", length, True)

# getting the punctuation list!


def count(l1, l2): return sum([1 for x in l1 if x in l2])


data['punct'] = data.body_text.apply(lambda s: count(s, string.punctuation))
data.head()

  label                                          body_text  length  punct
0   ham  I've been searching for the right words to tha...     196      4
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
2   ham  Nah I don't think he goes to usf, he lives aro...      61      2
3   ham  Even my brother is not like to speak with me. ...      77      2
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!      35      2

In [39]:
data.isnull().sum()

label        0
body_text    0
length       0
punct        0
dtype: int64

In [41]:
data['label'].value_counts()

ham     4822
spam     746
Name: label, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X = data['body_text']
y = data['label']

In [44]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

In [50]:
# FIT THE VECTORISOR(build a vocab, count the number of words etc ...)
# Transform the original message to vector

x_train_counts = cv.fit_transform(X_train)

In [54]:
x_train_counts.shape

(3730, 7118)

In [55]:
X_train.shape

(3730,)

In [52]:
from sklearn.feature_extraction.text import TfidfTransformer

tf = TfidfTransformer()

In [53]:
tf_train = tf.fit_transform(x_train_counts)

In [56]:
tf_train.shape

(3730, 7118)

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv = TfidfVectorizer()

In [58]:
X_train_vec = tv.fit_transform(X_train)

In [59]:
from sklearn.svm import LinearSVC

clf = LinearSVC()

In [60]:
clf.fit(X_train_vec, y_train)

LinearSVC()

In [63]:
# ------------------------------------------------------OR-----------------------------------------------------------------

In [62]:
from sklearn.pipeline import Pipeline

pipe = Pipeline([('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [64]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [66]:
pred = pipe.predict(X_test)

In [67]:
from sklearn.metrics import confusion_matrix, classification_report

In [68]:
print(confusion_matrix(y_test, pred))

[[1605    3]
 [  22  208]]

In [69]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

         ham       0.99      1.00      0.99      1608
        spam       0.99      0.90      0.94       230

    accuracy                           0.99      1838
   macro avg       0.99      0.95      0.97      1838
weighted avg       0.99      0.99      0.99      1838

In [70]:
from sklearn import metrics

In [71]:
metrics.accuracy_score(y_test, pred)

0.9863982589771491

In [72]:
pipe.predict(["Hi how are you doing today?"])

array(['ham'], dtype=object)

In [76]:
pipe.predict(["Free entry in 2 a wkly comp to win FA Cup "])

array(['spam'], dtype=object)